default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  timeout: 5000
  username: senitron
  password: senitronpwd

development:
  <<: *default
  database: starter_development

test:
  <<: *default
  database: starter_test

staging:
  <<: *default
  database: <%= ENV['STAGING_DB_NAME'] %>
  username: <%= ENV['STAGING_USERNAME'] %>
  password: <%= ENV['STAGING_PASSWORD'] %>
  host: <%= ENV['STAGING_HOSTNAME'] %>
  port: <%= ENV['STAGING_PORT'] %>

production:
  <<: *default
  database: <%= ENV['DB_NAME'] %>
  username: <%= ENV['USERNAME'] %>
  password: <%= ENV['PASSWORD'] %>
  host: <%= ENV['HOSTNAME'] %>
  port: <%= ENV['PORT'] %>

