# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 4aae5a0608585adbc3ca28b098d77cfcfcd12ac9dc0fe6a7bc07e1f8dfa7bbb7a5564e566a093d3af2bffb59e38dd479b30998efc481a6a02392fdba6f06211e

test:
  secret_key_base: 4acb36e5f74c38ae8ef037364d1f7d2e14869ed81c9c822589dcddd284df822c1ddf3478b89c306ef8b1a545eb1e9943341e2f58456dea84d6d243e567b1d008

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

staging:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
